@model IEnumerable<EFGetStarted.AspNetCore.ExistingDb.Models.MillInformation>

@{
    ViewData["Title"] = "Index";
}
<style>
       
    .container {
        width: 1600px;
    }

    table, tr {
        /*table-layout: fixed;*/
        width: 100px;
    }
    td, thead {
        word-wrap: break-word
    }
    tr:hover {
        background-color: skyblue;
        border-top: solid;
        cursor: pointer;
    }


</style>

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MillId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naprodcat)
            </th>
            <th data-toggle="tooltip" title="Primary production category of mill." data-placement="right">

                @Html.DisplayNameFor(model => model.ProdCat1)
            </th>
            <th data-toggle="tooltip" title="Secondary production category of mill." data-placement="right">
                @Html.DisplayNameFor(model => model.ProdCat2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingPostcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingCountry)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PostalAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalPostcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCountry)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Eparegion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MillStatus)
            </th>
            <th data-toggle="tooltip" title="Date status became effective." data-placement="right">
                @Html.DisplayNameFor(model => model.StatusDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkEpasubcat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkMillType)
            </th>
            <th></th>
            </tr>
</thead>
    <tbody>
@foreach (var item in Model.Take(10)) {
        <tr  onclick="location.href = '@(Url.Action("Details", "MillInformations", new { id = item.PkMillKey }))'"> 
            <td>
                @Html.DisplayFor(modelItem => item.MillId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naprodcat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdCat1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdCat2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingPostcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingCountry)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PostalAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalPostcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCountry)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Eparegion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MillStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkEpasubcat.Subcat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkMillType.PkTypeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PkMillKey">Edit</a>
                <a asp-action="Details" asp-route-id="@item.PkMillKey">Details</a>
                <a asp-action="Delete" asp-route-id="@item.PkMillKey"><font color="red">Delete</font></a>
            </td>
        </tr>
}
    </tbody>
</table>
