@model IEnumerable <MillData.Models.ProductionData>

@{
    //if no data available, show error
    if (Model.Any())
    { <h3>Production Data: Mill @Model.First().FkMillKey</h3> }
    else
    { <div id="notif">No production data available.</div> }
}


<style>
    .leftdiv, .middiv, .rightdiv {
        float: left;
        width: 200px;
        margin-left: 5%;
        margin-right: 5%;
    }

    dd {
        margin-bottom: 3%;
    }
</style>
        
        
@foreach (var item in Model)
{
    //for every item, create a separate div
    <div class="leftdiv">
        <dl>
            @{
                //Handle prodcat null
                if (@item.FkProdCat != null)
                {
                    //Production Type
                    <dt>Production Type</dt>
                    <dd>@item.FkProdCat.ProdType</dd>

                    //Production category & description
                    <dt>Production Category</dt>
                    if (@item.FkProdCat.ProdCatDescription != null)
                    {<dd><b>@item.FkProdCat.Category</b> | @item.FkProdCat.ProdCatDescription</dd>}
                    else
                    { <dd><b>@item.FkProdCat.Category</b></dd>}

                }
                else
                { <dd><i>No production category available.</i></dd> }

                //Quantity
                if (@item.Quantity != null)
                {
                    <dt>Quantity</dt>
                    <dd>@String.Format("{0:n}", item.Quantity)  @item.Units</dd>
                }
                
                //Source
                <dt>Source</dt>
                if (@item.FkSource != null)
                {
                    <dd>@item.FkSource.DataSource</dd>
                    <dd>@item.SourceYear</dd>
                }
                else
                { <dd><i>No source available.</i></dd> }
                   
                //Comments
                <dt>Comments</dt>
                <dd>@item.Comments</dd>
            }   
        </dl>
    </div>
}
